[user]
  name     = Alexander Teslovskiy
  username = ARtoriouS
  email    = artoriousso@gmail.com
[github]
  user  = ARtoriouSs
[core]
  editor       = vim
  whitespace   = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/dotfiles/.gitignore_global
  quotepath    = true # show unusual symbols as bytes
  pager        = "diff-so-fancy | less --tabs=4 -RFX"
[push]
  default = current
[color]
  ui = true
[color "diff"]
  meta       = "11"
  frag       = "magenta bold"
  commit     = "yellow bold"
  old        = "red bold"
  new        = "green bold"
  whitespace = "red reverse"
[color "diff-highlight"]
  oldNormal    = "red bold"
  oldHighlight = "red bold 52"
  newNormal    = "green bold"
  newHighlight = "green bold 22"
[color "status"]
  added     = "green bold"
  changed   = "yellow bold"
  untracked = "red bold"
[color "branch"]
  current = "yellow bold"
  local   = "green bold"
  remote  = "cyan bold"
[diff-so-fancy]
  markEmptyLines = false
[status]
  short = true
[alias]
  cl  = clone
  rem = remote
  b   = branch
  co  = checkout
  a   = add
  aa  = add --all
  cm  = commit -m
  ca  = commit --amend
  can = commit --amend --no-edit
  r   = rebase
  ra  = rebase --abort
  rc  = rebase --continue
  st  = status
  d   = diff
  l   = log --pretty=format:\"%C(yellow bold)%h%Creset | %C(blue bold)%ad%Creset, %C(green bold)%an%Creset %s%C(red bold)%d%Creset\" --graph --date=relative
